@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&family=Rubik:ital,wght@0,300..900;1,300..900&family=Sigmar+One&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Rubik', serif;
}

body {
  width: 100%;
  min-height: 125vh;
  background: linear-gradient(to bottom right, #5f6a72, #34495e, #2c3e50, #1b2a36, #3a4a61);
  opacity: 1;
  transition: opacity 0.5s ease;
}

body.hidden {
  opacity: 0;
}

.image-section {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50vh;
  left: 20%;
}

.image {
  position: absolute;
  width: 1200px;
  top: 20%;
  left: 25%;
  opacity: 0.65;
  filter: none;
}

header {
  color:#fff;
  padding: 20px 0;
  text-align: left;
}

.header-container {
  display: flex;
  align-items: center; 
  justify-content: space-between;
  width: 80%;
  max-width: 1200px;
  margin: 20px auto;
  padding: 10px 0;
}


.title-container {
  display: flex;
  flex-direction: column;
}


.main-title-greeting {
  font-size: 50px;
  margin-bottom: 10px;
}

.main-title {
  font-size: 50px;
  margin-bottom: 30px;
}

nav {
  position: absolute;
  bottom: 20%;
  left: 15%;
}

.contact-nav {
  position: absolute;
  bottom: 20%;
  left: 55%;
}

.nav-links {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 15px;
  padding: 0;
}

.image-nav ul {
  display: flex; /* Enables horizontal layout */
  justify-content: center; /* Centers items horizontally */
  list-style: none; /* Removes default bullet points */
  gap: 30px;
}

.image-nav {
  position: absolute;
  bottom: 22%;
  left: 55%;
}

.image-nav li {
  display: inline-block;
  margin: 0 15px;
}

.image-nav a {
  display: inline-block;
}

.image-nav .icon {
  width: 75px;
  height: auto;
  transition: transform 0.2s ease-in-out;
}

.image-nav .icon:hover {
  transform: scale(1.1);
}

.contact-links {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 15px;
  padding: 0;
}

.nav-links li {
  margin: 0;
}


.contact-links li {
  margin: 0;
}

.nav-links a {
  text-decoration: none;
  color: #c0c0c0;
  font-size: 25px;
  font-weight: bold;
  transition: color 0.3s;
}

.contact-links a {
  text-decoration: none;
  color: #c0c0c0;
  font-size: 15px;
  font-weight: bold;
  transition: color 0.3s;
}

.nav-links a:hover {
  color: gray;
}



.contact-links a:hover {
  color: gray;
}


h2 {
  text-align: center;
}

.main-title-greeting {
  font-size: 120px;
  position: absolute;
  top: 30%;
  left: 15%;
  transform: translateY(-50%);
  color: #c0c0c0;
}

.main-title {
  font-size: 110px;
  position: absolute;
  top: 45%;
  left: 15%;
  transform: translateY(-50%);
  color: #c0c0c0;
}

.introduction {
  font-size: 20px;
  position: absolute;
  top: 80%;
  left: 30%;
  transform: translateY(-50%);
  color: #c0c0c0;
}

.box-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 65px;
  max-width: 600px;
  margin: 500px auto;
  justify-content: center;
}


.box {
  width: 400px;
  height: 150px;
  border: 2px solid #c0c0c0;
  padding: 15px;
  border-radius: 8px;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  color: #c0c0c0;
}


.project-description {
  font-size: 110px;
  position: absolute;
  top: 40%;
  left: 15%;
  transform: translateY(-50%);
  color: #c0c0c0;
}

.contact-Contact {
  font-size: 100px;
  position: absolute;
  top: 30%;
  left: 15%;
  transform: translateY(-50%);
  color: #c0c0c0;
}

.contact-information {
  font-size: 100px;
  position: absolute;
  top: 45%;
  left: 15%;
  transform: translateY(-50%);
  color: #c0c0c0;
}

#chatbot-toggler{
  position: fixed;
  bottom: 30px;
  right: 35px;
  border: none;
  height: 50px;
  width: 50px;
  display: flex;
  cursor: pointer;
  border-radius: 50%;
  background: #000000;
  align-items: center;
  justify-content: center;
  transition: all 0.2s ease;
}

#chatbot-toggler span {
  position: absolute;
  color: #c0c0c0;
}

.container.show-chatbot #chatbot-toggler {
  transform: rotate(90deg);
}

#chatbot-toggler span:last-child,
.container.show-chatbot #chatbot-toggler span:first-child {
  opacity: 0;
}

.container.show-chatbot #chatbot-toggler span:last-child {
  opacity: 1;
}

.chatbot-popup {
  position: fixed;
  opacity: 0;
  pointer-events: none;
  bottom: 90px;
  right: 35px;
  width: 420px;
  transform: scale(0.2);
  overflow: hidden;
  background: #f2f2f2;
  border-radius: 15px;
  transform-origin: bottom right;
  box-shadow: 0 0 128px 0 rgba(0, 0, 0, 0.1),
    0 32px 64px -48px rgba(0, 0, 0, 0.5);
  transition: all 0.1s ease;
  }

.container.show-chatbot .chatbot-popup {
  opacity: 1;
  transform: scale(1);
  pointer-events: auto;
}

.chatbot-popup .chat-header {
  display: flex;
  padding: 15px 22px;
  align-items: center;
  justify-content: space-between;
  background: #000000;
}

.chat-header .header-info {
  display: flex;
  gap: 10px;
  align-items: center;
}

.header-info svg {
  height: 35px;
  width: 35px;
  padding: 6px;
  flex-shrink: 0;
  fill: #000000;
  background: #c0c0c0;
  border-radius: 50%;
}

.header-info .logo-text {
  color: #c0c0c0;
  font-size: 1.31rem;
  font-weight: 600;
}

.chat-header button {
  height: 40px;
  width: 40px;
  border: none;
  outline: none;
  color: #c0c0c0;
  cursor: pointer;
  font-size: 1.9rem;
  padding-top: 2px;
  border-radius: 50%;
  margin-right: -10px;
  background:none;
  transition: 0.2s ease;
}

.chat-header button:hover {
  background:#000000;
}

.chat-body {
  display: flex;
  flex-direction: column;
  gap: 20px;
  height: 460px;
  margin-bottom: 82px;
  overflow-y: auto;
  padding: 25px 22px;
  scrollbar-width: thin;
  scrollbar-color: #E0e0e0 transparent;
}

.chat-body .message {
  display: flex;
  gap: 11px;
  align-items: center;
}

.chat-body .message.error .message-text {
  color: #ff0000;
}

.chat-body .bot-message svg {
  height: 35px;
  width: 35px;
  padding: 6px;
  flex-shrink: 0;
  fill: #fff;
  align-self: flex-end;
  margin-bottom: 2px;
  background: #000000;
  border-radius: 50%;
}

.chat-body .message .message-text {
  padding: 12px 16px;
  max-width: 75%;
  word-wrap: break-word;
  white-space: pre-line;
  font-size: 0.95rem;
}

.chat-body .bot-message .message-text {
  background: #e0e0e0;
  border-radius: 13px 13px 13px 3px;
} 

.chat-body .user-message {
  flex-direction: column;
  align-items: flex-end;
}

.chat-body .user-message .message-text {
  color: #fff;
  background: #000000;
  border-radius: 13px 13px 3px 13px;
} 

.chat-footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  background: #f2f2f2;
  padding: 15px 22px 20px;
}

.chat-footer .chat-form {
  display: flex;
  align-items: center;
  background: #fff;
  border-radius: 32px; 
  outline: 1px solid #CCCCE5;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.06);
}

.chat-footer .chat-form:focus-within {
  outline: 2px solid #000000;
}

.chat-form .message-input {
  border: none;
  outline: none;
  width: 100%;
  background: none;
  height: 47px;
  padding: 0 17px;
  font-size: 0.95rem;
}

.chat-form button {
  height: 35px;
  width: 35px;
  border: none;
  display: none;
  outline: none;
  cursor: pointer;
  font-size: 1.15rem;
  color: #fff;
  flex-shrink: 0;
  margin-right: 6px;
  border-radius: 50%;
  background: #000000;
  transition: 0.2s ease;
}

.chat-form button:hover {
  background: #000000;  
}

.chat-form .message-input:valid~button{
  display: block;
}

@media (max-width: 520px) {
  #chatbot-toggler {
    right: 20px;
    bottom: 20px;
  }

  .chatbot-popup {
    right: 0;
    bottom: 0;
    height: 100%;
    border-radius: 0;
    width: 100%;
  }

  .chatbot-popup .chat-header{
    padding: 12px 15px;
  }

  .chatboy {
    height: calc(90% - 55px);
    padding: 25px 15px;
  }
  .chat-footer {
    padding: 10px 15px 15px;
  }
}


